<%- include('../partials/header.ejs') %>

    <main class="main-text">
        <div class="outer-block">
            <div class="inner"><h2 id="connection-title"><%=connection.name%></h2></div>
            <div class="inner"></div>
            <%if(connection.creator) {%>
                <%if(user == connection.creator._id) {%>
                    <form>
                        <button id="button1" type="submit" formmethod="GET" formaction="/connections/<%= connection.id %>/edit">Update</button>
                        <button type="submit" formmethod="POST" formaction="/connections/<%=connection.id%>?_method=DELETE">Delete</button>
                    </form>
                <%} else if (user && user != connection.creator._id) { %>
                    <span><%=rsvps%> people are currently attending, currently!</span>
                    <form>
                        <span>Would you like to attend? RSVP Now!</span>
                        <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id %>/rsvp" name="rsvp" value="YES">Yes</button>
                        <button type="submit" formmethod="POST" formaction="/connections/<%=connection.id%>/rsvp" name="rsvp" value="NO">No</button>
                        <button type="submit" formmethod="POST" formaction="/connections/<%=connection.id%>/rsvp" name="rsvp" value="MAYBE">Maybe</button>
                    </form>
                <%}%>
            <%} %>
        </div>
        <img src="<%=connection.image%>" class="security-plus-img" alt="Oops, something went wrong!">
        <div class="connection-details">
            <%if (connection) {%>
                <%if (connection.details.includes(";")) {%>
                    <%var temp = connection.details.split(";");%>
                    <%temp.forEach(block => {%>
                        <p class="beside-image"><%=block%></p>
                        <br>
                    <%});%>
                <%} else {%>
                    <p class="beside-image"><%=connection.details%><br></p>
                    <%if (connection.createdAt) {%>
                        <small>Posted <%= connection.createdAt.toLocaleString()%> by <%= connection.creator.firstName + ' ' + connection.creator.lastName%></small>
                    <%}%>
                <%}%>
            </div>
            <br>
            <br>
            <br>
            <br>
            <%if (connection.date === "") {%>
                
            <%} else {%>
                <div class="details">
                    <h3 id="connection-subtitle">Details:</h3>
                    <p>Come out every <%=connection.date%> where this group will meet to discuss <%=connection.name%> from <br> <%=connection.start_time%> to <%=connection.end_time%>.
                        This event is hosted by <%=connection.host_name%>.<br><br>
                        For additional help, please contact us using the CONTACT button at the bottom of the screen.</p>
                </div>
            <%}%>
        <%} else {%>
            <p>No info!</p>
        <%}%>
        
    </main>

<%- include('../partials/footer.ejs') %>