
<%- include('../partials/header.ejs') %>
    <h1 id="title">Current Events</h1>
    <main class="main-text">
        <%if(connections.length) {%>
            <%categories.forEach(category => {%>
            <h2><%= category %></h2>
            <%connections.forEach(connection => {%>
                <% if(connection.category == category){ %>
                    <a href="connections/<%= connection.id%>" class="connection-links"><p><%= connection.name%></p></a>
                <% } %>
            <% }); %>
        <% });
        } else {%>
            <p>There are no connections to display.</p>
        <%}%>
    </main>
<%- include('../partials/footer.ejs') %>